@font-face {
    font-family: Enigma;
    src: url(../font/Enigma__2.ttf);
  }

html,body {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    position: absolute;
    display: block;
    text-align: center;
    font-family: 'Enigma';
}

#background {
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 0%;
    position: absolute;
    background-image: url(../image/abstract-astro-astronomy-956999.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

#content {
    position: relative;
    display: block;
    text-align: left;
    z-index: 100;
}

.first-block {
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em 0.2em rgb(141, 141, 141);
    position: relative;
}

.name {
    font-size: 3em;
}

.title {
    font-size: 1.5em;
}

.header {
    width: 100vw;
    font-size: 2em;
}

.second-block {
    top: 5vh;
    position: relative;
    border-radius: 0.1em;
    background-color: rgb(231, 120, 45);
}

.text {
    width: 100vw;
    padding: 0.2em 0em;
    background-color: rgb(231, 120, 45);
}

footer {
    width: 100vw;
    position: fixed;
    display: block;
    margin: auto;
    bottom: 0;
    border-radius: 0.2em;
    padding: 0.4em;
    background-color: rgb(231, 120, 45);
}
