@media only screen and (min-width: 1280px) {
    .content {
        background-color: #ffefcb;
        font-size: 1.25em;
        position: relative;
        margin: 14vh auto 0;
        padding: 1em;
        border-radius: 0.25em;
        width: 50vw;
    }

    #logo-div {
        position: relative;
        margin: auto;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .logo {
        background-color: #ffffff;
        border-radius: 1em;
        position: relative;
        display: inline-block;
    }

    .logo:hover {
        background-color: #dbdbdb;
    }

    #github {
        margin-right: 2em;
        padding: 2.5em;
        height: 14vh;
    }

    #linked-in {
        margin-left: 2em;
        padding: 2.5em 1.4em 2.5em 2.5em;
        height: 14vh;
    }
}

@media only screen and (min-width: 767px) {
    .content {
        background-color: #ffefcb;
        font-size: 1.25em;
        position: relative;
        margin: 14vh auto 0;
        padding: 1em;
        border-radius: 0.25em;
        width: 50vw;
    }

    #logo-div {
        position: relative;
        margin: auto;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .logo {
        background-color: #ffffff;
        border-radius: 1em;
        position: relative;
        display: inline-block;
    }

    .logo:hover {
        background-color: #dbdbdb;
    }

    #github {
        margin-right: 2em;
        padding: 2.5em;
        height: 14vh;
    }

    #linked-in {
        margin-left: 2em;
        padding: 2.5em 1.4em 2.5em 2.5em;
        height: 14vh;
    }
}

@media only screen and (max-width: 767px) {
    .content {
        background-color: #ffefcb;
        font-size: 1.25em;
        position: relative;
        margin: 14vh auto 0;
        padding: 1em;
        border-radius: 0.25em;
        width: 50vw;
    }

    #logo-div {
        position: relative;
        margin: auto;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .logo {
        background-color: #ffffff;
        border-radius: 1em;
        position: relative;
        display: inline-block;
    }

    .logo:hover {
        background-color: #dbdbdb;
    }

    #github {
        margin-right: 2em;
        padding: 2.5em;
        height: 14vh;
    }

    #linked-in {
        margin-left: 2em;
        padding: 2.5em 1.4em 2.5em 2.5em;
        height: 14vh;
    }
}
