#index-text-div {
    background-color: #ffffff;
    opacity: 0.75;
    border-radius: 0.25em;
    margin: auto;
    margin-bottom: 35vh;
    padding-bottom: 1em;
}

#index-text-div div:hover {
    background-color: #000000;
}

#index-text-div div:hover {
    background-color: #000000;
}

#index-name {
    font-size: 5em;
    margin: auto;
    text-align: center;
}

#index-introduction {
    margin: auto;
    font-size: 2.5em;
    text-align: center;
}

#index-button-div {
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 0;
}

#index-button a,
a:link,
a:visited {
    color: inherit;
    background-color: #ffffff;
    padding: 0.05em 0.15em 0.05em;
    border: medium solid #000000;
    border-radius: 0.25em;
    margin: auto;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    z-index: 50;
}

#index-button:hover {
    background-color: #dbdbdb;
}
