@font-face {
    font-family: Enigma;
    src: url(../font_general/Enigma__2.ttf);

    font-family: Garamond;
    src: url(../font_general/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

body {
    background-image: url(../image_general/Blender-Beginner-Tutorial-with-filter.png);
    font-family: Garamond;
}

.content {
    position: relative;
    top: 6vh;
}
